body {
  font-family: sans-serif;
  padding: 20px;
}
  
video {
  max-width: 100%;
  width: 320px;
}

#videos {
  text-align: center;
}

#chat-input {
  width: 100%;
}

.video-container {
  float: left;
}

.video {
  padding: 20px;
}

.video.local {
  width: 250px;
}
  